body, html{
  height: 100vh;
background-color: #E0E2DB;
text-align: center;
}

.levelLabel{
  right: 20px;
  display: none;
}
.scoreLabel{
  margin-left: 20px;
}



.scoreLabel, .levelLabel{
  position:absolute;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  color: black;
  bottom: 160px;
  width: 100px;
  text-align: center;
  font-size: 20px;
}
.level, .score{
  color:#F45D01;
}

.cover, .coverTwo{
  background-color: rgba(179, 179, 179, 0.8);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin-left:0;
  margin-top:0
}
.coverTwo{
  display: none;
}

input{
  background-color: white;
  bottom: 50px;
  margin-left: -100px;
  position: absolute;
  z-index: 2;
  height: 40px;
  width:200px;
  border: 2px solid #F45D01;
  border-radius: 5px;
  outline: none;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: #F45D01;
  text-align: center;
}

.startBtn{
  width: 100%;
  top: 35%;
  position: absolute;
  z-index: 10000;
  background-color: none;
  color: white;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  border: none;
  text-align: center;
}

#start{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#start:hover{
  color: #F7CB15;
}
#over{
  color: #F45D01;
  margin-top: -50px !important;
}
#highScore{
  margin-top: 50px;
}

.space{
  background-color: #7ec0ee;
  height: 100%;
  width: 100%;
  z-index: 0;
  position: relative;
}

.top{
  background-image: url(http://i.imgur.com/rdWfCL6.png);
  height: 110px;
  width: 100%;
  margin-top: 0;
  z-index: 1000;
  position: absolute;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.base{
  background-image: url(http://i.imgur.com/P4KR4mV.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  z-index: 1000;
  position: absolute;;
  bottom: 0;
}


.block{
  position: absolute;
  margin-top: -39px;
  text-align: center;
  padding: 10px 0px;
  border-radius: 25px;
  width: 150px;
  height: 25px;
  z-index: 2;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.life{
  height: 30px;
  margin-top: 8px;
  float: left;
  position: relative;
  align-items: center;

}
#life1, #life2, #life3{
  float:right;
  right: auto;
  margin-right: 30px;
}
